body {
    margin: 0;
}

header, footer {
    background-color: brown; /* цвет фона */
    color: wheat; /* цвет текста */
    padding: 10px;
}

main {
    background-color:seashell;
    padding: 10px;
    text-align: center;
}

a {
    color: wheat;
}

a:hover {
    color: sandybrown;
}

h1 {
    color: brown;
}

button {
    background: brown;
    border-radius: 50%;
    border: none;
}

button:active {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(165,42,42,1) 100%);
}

button > img {
    width: 150px;
    height: 150px;
}

button:active > img {
    transform: scale(90%);
    transition: transform .4s linear;
}

#counter {
    font-weight: bold;
    color: brown;
}
