body {
    margin: 0;
}

header, footer {
    background-color: brown; /* цвет фона */
    color: wheat; /* цвет текста */
    padding: 10px;
}

main {
    background-color:seashell;
    padding: 10px;
    text-align: center;
}

a {
    color: wheat;
}

a:hover {
    color: sandybrown;
}

h1 {
    color: brown;
}

button {
    background: brown;
    border-radius: 50%;
    border: solid 5px #53161625;
}

button:active {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(165,42,42,1) 100%);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;

    /* -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset; */
}

button > img {
    width: 150px;
    height: 150px;
}

button:active {
    transform: skew(5deg, 5deg);
}

button:active > img {
    transform: scale(90%);
    transition: transform .1s linear;
}

#counter {
    font-weight: bold;
    color: brown;
}
